.button {
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 1.39286px;
  color: #ffffff;
  border-radius: 6px;
  text-transform: uppercase;
  margin-top: 20px;
  background: linear-gradient(135deg, #a2a7f0 0%, #696edd 100%);
  border-radius: 6px;
  padding-block: 14px;
  width: 100%;
  transition: 0.3s;
  cursor: pointer;
}
.button:hover {
  color: #6d72de;
  background: transparent;
  outline: 1px solid #6d72de;
}

.pro {
  color: #6d72de;
  background: #ffffff;
  transition: 0.3s;
}

.pro:hover {
  background: transparent;
  color: #ffffff;
  outline: 1px solid #ffffff;
  border-radius: 6px;
}
