.button {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 1.39286px;
  color: #6d72de;
  background: #ffffff;
  border-radius: 6px;
  text-transform: uppercase;
}
