@import './index.scss';

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  /* max-width: 500px;
  border: 1px solid mediumblue; */
  margin: auto;
  @include mq(1012px) {
    height: auto;
  }
}

.cards {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  @include mq(1012px) {
    flex-direction: column;
    gap: 32px;
  }
}
